<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src='/javascripts/jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/javascripts/skrypt.js'></script>
  </head>
  <body>
	<div class='menu'>
		<div class='roomlist'>
		<h3>Open Rooms</h3>
		
		</div>
	</div>
	
	<div class='map'></div>

  </body>
</html>