
  

body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	a
		color: #00B7FF
	div
		border black 1px solid
	#showme
		background-color #DDD
		position fixed
		top 5%
		left 5%
		width 70%
		height 90%
		z-index 2
		visibility hidden
	#gamewrap
		position absolute
		top 0
		right 0
		bottom 0 
		left 0
		background-color #EEE
		.slot
			display inline-block
			height 200px
			width 140px
		.highlighted
			border-color red
		.red
			background #FDA
		.blue
			color blue
		#gamemenu
			position absolute
			width 15%
			height 60%
			top 5%
			left 0
			&>div
				height:20px
		#ship
			position absolute
			width 50%
			height 60%
			top 5%
			left 20%
		#player
			position absolute
			width 65%
			height 30%
			bottom 0
			left 5%
		#map1
			position absolute
			width 10%
			top 0
			right 0
			bottom 0
		#map2
			position absolute
			width 10%
			top 0
			right 10%
			bottom 0		
   

  